html {
    overflow-x: hidden;
}

#quiz-container {
    margin-top: 250px;
    border: 1px solid black;
    height: 500px;
    width: 80em;
    margin-left: 300px;
}

#header {
    display: flex;
    justify-content: center;
}

#text {
    display: flex;
    justify-content: center;
}

#start {
 margin-left: 615px;
 margin-top: 100px;

}